@import url(http://fonts.googleapis.com/css?family=Noto+Sans|PT+Sans);

html {
	height: 100%;
}

body {
	font-family: 'Noto Sans', sans-serif;
	color: #333333;
	margin: 0;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {cursor: pointer; font-size: 1.2em;}
h1 {
	text-align:center;
	left: 10%;
	right: 10%;
	margin: auto;
	/*margin-top: -80px;
	position: absolute;*/
	top: 50%;
	width: 80%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#calendar {
	width: 90%;
	margin: 0 auto;
}

#banner {
	display: block;
	height: 20%;
	margin: 0 auto;
}

.gmap_canvas {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    padding: 40px;
    overflow: none;
    display: none;
}

.output{
	padding: 30px;

}

